// $pink:#FBF2F2;
// $black:#000000;
// $red:#AA0601;
// $darkRed:#650300;
.header{
    background-color:$red;
    .header-box{
        display: flex;
        justify-content: space-between;
         .headerLogo img{
            margin-top: 16px;
            margin-bottom: 15.43px;
         }
    }
    .headerMenu{
        display: flex;
            ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
             li a{
                font-size: 20px;
                line-height: 30px;
                text-decoration: none;
                color: white;
                padding: 25px;
             }
        }
    } 
    
}
